lib/Fw/src/Fw.Json/ValueTypes/JSAppBuilder.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="JSAppBuilderConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SchemaPath" type="xs:string" />
        <xs:element name="Fields">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Field">
                <xs:complexType>
                  <xs:attribute name="Publish" type="xs:boolean" use="required" />
                  <xs:attribute name="Key" type="xs:string" use="required" />
                  <xs:attribute name="Value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="MergeSections">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MergeSection">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ReplaceField" type="xs:string" />
                    <xs:element name="MergeFiles">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="MergeFile">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Template" type="xs:string" />
                                <xs:element name="Uri" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Pages">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Page">
                <xs:complexType>
                  <xs:attribute name="HtmlID" type="xs:string" use="required" />
                  <xs:attribute name="Path" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Modules">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Module">
                <xs:complexType>
                  <xs:attribute name="ModuleName" type="xs:string" use="required" />
                  <xs:attribute name="DatabaseConnection" type="xs:string" use="required" />
                  <xs:attribute name="BasePath" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Grids">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Grid">
                <xs:complexType>
                  <xs:attribute name="GridName" type="xs:string" use="required" />
                  <xs:attribute name="DatabaseConnection" type="xs:string" use="required" />
                  <xs:attribute name="BasePath" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Validations">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Validation">
                <xs:complexType>
                  <xs:attribute name="ValidationName" type="xs:string" use="required" />
                  <xs:attribute name="DatabaseConnection" type="xs:string" use="required" />
                  <xs:attribute name="Path" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SourceFiles">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="SourceFile">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ReplaceField" type="xs:string" />
                    <xs:element name="Template" type="xs:string" />
                    <xs:element name="InputFiles">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Uri" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Minify" type="xs:boolean" />
                    <xs:element name="OutputFile" type="xs:string" />
                    <xs:element name="MinifiedFile" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Targets">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Target">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Publish" type="xs:boolean" />
                    <xs:element minOccurs="0" name="Minify" type="xs:boolean" />
                    <xs:element name="InputFile" type="xs:string" />
                    <xs:element name="OutputDirectory" type="xs:string" />
                    <xs:element name="OutputFile" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>