lib/FwCore/OldFw/ValueTypes_old/ApplicationConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ApplicationConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Dev">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Debug" type="xs:boolean" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Sites">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Site">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Urls">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Url" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DatabaseConnections">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="DatabaseConnection">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Server" type="xs:string" />
                                <xs:element name="Database" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="Name" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>